@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagens/walpaper2.jpg);
}
/*CONFIGURAÇÃO DO MENU NAV*/
.menu{
    width: 100vw;
    height: auto;
    background-color: #f7f7f7;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
#active{
    background-color: white;
    color: black;
}
.title img{
    width: 95px;
}
.user-area{
    display: flex;
    align-items: baseline;
}
.user-area img{
    width: 20px;
}
.user-area img,h1{
    margin-left: 5px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li{
    padding: 5px;
}
.menu ul li a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
}
/*FIM DA COFIGURAÇÃO MENU*/
/*SECTION 1*/
.home_start{
    width: 90vw;
    height: 650px;
    /*background-image: url(../imagens/pet-sor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1250px 750px;*/
    background: red;
    margin-top: 10px;
}